* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: lightgray;
}

#header-img {
  background: url("./img/bg2.png");
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 100%;
  margin: 0;
}

#nav-bar {
  color: white;
}
nav ul li a {
  color: white;
  font-weight: 600;
}
nav ul li a:hover {
  color: blue;
}
#form {
  margin-top: 60px;
  text-align: center;
}
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 30px;
}
.grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 10rem;
}
.video {
  background-color: white;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  width: 300px;
  background-color: white;
  border: 1px solid yellow;
  text-align: center;
  outline: 2px yellow;
}
.boxes {
  margin-top: 40px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.boxes div {
  margin: 20px;
}
.join {
  background-color: #2b2f3e;
  height: 150px;
  text-align: center;
}
.detail {
  padding: 20px;
  color: white;
  font-size: 20px;
  line-height: 1.5rem;
}
.quote span:hover {
  color: orangered;
}
.contact {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.contact-details {
  width: 300px;
  color: black;
  margin: 15px;
  background-color: white;
  border: 4px solid orange;
  padding: 5px;
  text-align: center;
}
.contact-details:hover {
  cursor: pointer;
  padding: 2px;
}
.foot {
  width: 100%;
  background-color: grey;
  color: white;
  text-align: center;
  margin-top: 10px;
  padding: 4px;
}
.footer {
  text-align: center;
}
